<div class="bg-light row px-3 py-5" >
    <div class="col-8">
        <div class="d-flex flex-column">
            <h2>This First Heading <span class="text-secondary">Will Catch Your Eye</span></h2>
       
            <p>Donec aliquam tortor in posuere tincidunt. Maecenas blandit rhoncus maximus. Curabitur sapien lectus, volutpat at congue at, blandit at nisi. Integer cursus quis sapien non elementum. Aenean dapibus ligula ac tellus iaculis suscipit.</p>
        </div>
        </div>
    <div class="col-4 mx-0">
        <img src="/website1/assets/img/1.jpg" class="rounded-circle w-75"> 
    </div>
</div>
<p>Hello, I'm the first_heading.html</p>