<div class="container-fluid w-100 px-0">
    <div class="row d-flex justify-content-center px-0 bg-light">
        <div>
            <img src="/website1/assets/img/2.jpg" class="rounded-circle" />
        </div>
        <div class="col-6 d-inline-block align-self-top" style="margin-top: 15vh;">
            <h2>The Second Heading <span class="text-secondary">Is Pretty Cool Too</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu mauris et lectus varius posuere. Quisque facilisis
                 eget erat eu bibendum. Maecenas facilisis lorem erat, non convallis dui qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem 
                 ipsum quia dolor sit amet.</p>
        </div>
    </div>
</div>